!LICENSE.md
!out/**/*.js
**/*.json
**/*.map
**/*.md
**/*.ts
**/*.vsix
**/.github/**
**/test/**
**/tests/**
*.log
.DS_Store
.eslintrc.json
.gitattributes
.gitignore
.prettierrc
.vscode-test/**
.vscode/**
node_modules/@types/**
src/**
tsconfig.json
